<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="LogToFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome-%d{yyyy-MM-dd}.log"
                     ignoreExceptions = "false">
            <PatternLayout>
                <Pattern>%d %-5p %c %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy>
                <Delete basePath ="logs" maxDepth = "2">
                    <IfFileName glob = "hippodrome.*.log"/>
                    <IfLastModified age = "7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>